<div class="bar-chart-container">
  <div class="chart-wrapper" aria-label="Bar Chart">
    <canvas id="barChart" baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            chartType="bar">
    </canvas>
  </div>
  <div class="text-content">
    <h2>Budget vs Expense for {{ selectedMonth }}</h2>
    <div class="select-container">
      <mat-form-field appearance="fill">
        <mat-label>Choose the month</mat-label>
        <mat-select [(value)]="selectedMonth" (selectionChange)="onChangeMonth()" id="selectMonth" aria-label="Select Month">
          <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <p></p>
  </div>
</div>
