<div class="login-container">
  <mat-card class="form-container">
    <h2 class="login">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" id="username" name="username" [(ngModel)]="username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password" required>
      </mat-form-field>
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
    </form>
    <hr class="line">
    <div class="create-account">
      <span>Don't have an account?</span>
      <button mat-button color="primary" class="create-btn" routerLink="/signUp">Create One</button>
    </div>
  </mat-card>
</div>
