.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}

/* Button styling */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
  margin-top: 10px; /* Adds space between the last input field and the button */
}

/* Button hover effect */
.login-container button:hover {
  background-color: #555;
}

.form-container {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 10px;
}

.line {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.create-account {
  text-align: center;
}

.create-btn {
  padding: 5px 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
