<nav mat-toolbar color="primary">
  <div class="side-by-side">
    <div class="logo">
      <a [routerLink]="['/']">
        <mat-icon style="color: #d8cdcd;">home</mat-icon>
      </a>
    </div>
    <div class="title-container">
      <h2 class="title">Personal Budget</h2>
    </div>
  </div>
  <div class="nav-links">
    <a mat-button routerLink="/">Home</a>
    <a mat-button *ngIf="!isLoggedIn" routerLink="/login">Login/SignUp</a>
    <a mat-button *ngIf="isLoggedIn" routerLink="/dashboard">Dashboard</a>
    <a mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </div>
</nav>
