nav {
  display: flex;
  align-items: center;
  background-color: #333;
  justify-content: space-between;
  padding: 10px 20px;
}

.side-by-side {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-right: 10px;
}


.title-container {
  display: flex;
  align-items: center;
}

.title {
  color: white;
  font-size: 25px;
  margin: 0;
  margin-right: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white; /* Set the text color to white */
  padding: 10px 20px;
}

.nav-links a:hover {
  background-color: #555;
}
