<div class="budget-container">
  <div class="component-container">
    <div class="content-container" [ngClass]="{ 'centered': !showAddBudget, 'half-width': showAddBudget }">
      <h2>Budget Data for {{ selectedMonth }}</h2>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Select the month</mat-label>
          <mat-select [(value)]="selectedMonth" (selectionChange)="onChangeMonth()">
            <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="table-wrapper">
        <table mat-table [dataSource]="budgets" class="mat-elevation-z8">
          <ng-container matColumnDef="budgetCriteria">
            <th mat-header-cell *matHeaderCellDef>Budget Criteria</th>
            <td mat-cell *matCellDef="let budget">{{ budget.budgetCriteria }}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let budget">{{ budget.amount }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="add-budget">
        <button mat-raised-button color="primary" (click)="toggleAddBudget()" *ngIf="!showAddBudget">Add Budget</button>
      </div>
    </div>
  </div>
  <div class="component-container" *ngIf="showAddBudget">
    <div class="add-budget-container">
      <app-add-budget (closeAddBudget)="closeAddBudget()"></app-add-budget>
    </div>
  </div>
</div>
