<div class="signup-container">
  <mat-card class="form-container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" id="firstName" name="firstName" [(ngModel)]="firstName" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" id="lastName" name="lastName" [(ngModel)]="lastName" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" id="username" name="username" [(ngModel)]="username" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Sign Up</button>
      <div *ngIf="signUpError" class="error-message">{{ signUpError }}</div>
    </form>
  </mat-card>
</div>
