<form (ngSubmit)="onSubmit()" role="form" class="form-container">
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Budget Criteria:</mat-label>
      <input matInput type="text" id="budgetCriteria" [(ngModel)]="budgetCriteria" name="budgetCriteria" required aria-label="Budget Criteria">
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Amount:</mat-label>
      <input matInput type="number" id="amount" [(ngModel)]="amount" name="amount" required aria-label="Amount">
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Select Month(s):</mat-label>
      <mat-select multiple [(ngModel)]="selectedMonths" name="selectedMonths" aria-label="Select Month(s)">
        <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-field">
    <button mat-raised-button type="submit" [disabled]="!budgetCriteria || amount <= 0 || !hasSelectedMonths()" aria-label="Add Budget">
      Add Budget
    </button>
  </div>
</form>
